<div class="container pt-5 pb-5">


 <h5 class="mb-0">
   <i class="fa-solid fa-user-plus me-3"></i>Crear cuenta
 </h5>


 <hr />


 <div class="card-body">
   <form class="row g-3" [formGroup]="registroForm" (ngSubmit)="registrar()" novalidate="">
       <!-- Todo lo que va dentro del form -->

<form [formGroup]="registroForm" (ngSubmit)="registrar()" novalidate="">

  
<div class="col-12 col-sm-6">
 <label class="form-label" >Nombre: </label>
 <input class="form-control" type="text" formControlName="nombre" />
</div>




 <div class="col-12 col-sm-6">
 <label class="form-label" >Teléfono: </label>
 <input class="form-control" type="number" formControlName="telefono" />
</div>



<div class="col-12 col-sm-6">
  <label class="form-label">Ciudad:</label>
  <select class="form-select" formControlName="ciudad">
    <option value="" disabled selected>Seleccione una ciudad</option>
    @for (item of ciudades; track $index) {
       <option value="{{item}}">{{item}}</option>
      }
  </select>
</div>




 <div  class="col-12 col-sm-6">
   <label>Dirección: </label>
   <input class="form-control" type="text" formControlName="direccion" />
 </div>




 <div  class="col-12 col-sm-6">
   <label>Email: </label>
    <input class="form-control" type="email" formControlName="email" />
 </div>




 <div class="col-12 col-sm-6">
   <label>Contraseña: </label>
   <input class="form-control" type="password" formControlName="password" />
 </div>


 <div class="col-12 col-sm-6">
  <label>Repetir contraseña: </label>
  <input class="form-control" type="password" formControlName="confirmaPassword" />
</div>





@if (registroForm.hasError('passwordsMismatch')) {
  <div class="alert alert-danger mt-3" role="alert">
    Las contraseñas no coinciden
  </div>
}





 <div class="col-12 text-center mt-4">   <!-- mt-4 agrega margen superior-->
  <button class="btn btn-primary btn-registrarse" type="submit" [disabled]="registroForm.invalid">
    <i class="fa-solid fa-check me-2"></i>
    Registrarse
  </button>
</div>

</form>


   </form>
 </div>


</div>