

  <form [formGroup]="crearReporteForm" (ngSubmit)="crearReporte()" novalidate>
    <div>
      <label>Título: </label>
      <input type="text"  formControlName="titulo" />
    </div>  
   
   
    <div>
      <label>Descripción: </label>
      <textarea formControlName="descripcion"></textarea>
    </div>
   
   
    <div>
      <label>Categoría: </label>
      <select formControlName="categoria">
          <option value="">Seleccione una categoría</option>
          @for (item of categorias; track $index) {
          <option value="{{item}}">{{item}}</option>
          }
      </select>
   </div>
   
   
   <div>
    <label>Ciudad: </label>
    <select formControlName="ciudad">
      <option value="">Seleccione una ciudad</option>
      @for (ciudad of ciudades; track $index) {
        <option [value]="ciudad">{{ciudad}}</option>
      }
    </select>
    
  </div>
   
   
    <div>
      <label>Ubicación: </label>
      <input type="text" formControlName="ubicacion" />
    </div>
   
   
    <div>
      <label>Imagen reporte: </label>
      <input type="file" (change)="onFileChange($event)" />
   </div>
   
   
    <!-- <button type="submit">Crear reporte</button> -->
   <!-- <button type="submit">Crear reporte</button>-->
    <button type="submit" [disabled]="crearReporteForm.invalid">Crear reporte</button>
   </form>


  