<header class="p-3 text-bg-dark">
   <div class="container">
     <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       <a routerLink="" class="d-flex align-items-center mb-2 me-2 mb-lg-0 text-white text-decoration-none">
           <i class="fa-solid fa-shield-alt fs-3 me-2"></i> {{ title }}
       </a>


       <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
         <li><a routerLink="" class="nav-link px-2 text-secondary">Inicio</a></li>
         <li><a routerLink="" class="nav-link px-2 text-white">Gestión reportes</a></li>
         <li><a routerLink="" class="nav-link px-2 text-white">Gestión categorías</a></li>
         <li><a routerLink="" class="nav-link px-2 text-white">Perfil</a></li>
         <li><a routerLink="/gestion-reportes" class="nav-link px-2 text-white">Gestión de reportes</a></li>
       </ul>


       <div class="text-end">
         <button type="button" routerLink="/login" class="btn btn-outline-light me-2">Login</button>
         <button type="button" routerLink="/registro" class="btn btn-primary">Sign-up</button>
       </div>
     </div>
   </div>
</header>